.angular-google-map-container {
    height: 750px;
    border: solid 1px darkgray;
}

.small-maps .angular-google-map-container {
    height: 250px;
    border: solid 1px darkgray;
}

.additional-info {
    padding: 5px;
}

.smap {
    width: 100%;
    height: 750px;
}

.pages {
    width: 100%;
    height: 700px;
}