<div class="loading" ng-show="status">
  <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>

<div class="emailslist" ng-hide="status">

    <div flex class="scrolling">

        <div layout="row">
            <!--<md-button flex="50" class="md-primary md-raised" ng-click="showGridBottomSheet($event)">Menu</md-button>-->
            <md-button flex="50" class="md-primary md-raised" ui-sref=".email">Email</md-button>
            <md-button flex="50" class="md-primary md-raised" ui-sref=".chat">Chat</md-button>
        </div>

        <div layout="row">

            <div flex="35">
                <div layout="column">
                    <md-input-container>
                        <label>Search</label>
                        <input ng-model="searchUser">
                    </md-input-container>

                    <div class="user-scroll">
                        <div ng-repeat="user in users | filter: searchUser">
                            <user-box user="user"></user-box>
                        </div>
                    </div>

                </div>
            </div>

            <div flex="65">
                <div layout="column">
                    <div ui-view></div>
                </div>
            </div>
        </div>

    </div>
</div>
