<div class="loading" ng-show="status">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-hide="status">

    <div flex class="scrolling">

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Projects">
                <md-content class="md-padding">

                </md-content>
            </md-tab>
            <md-tab label="Tasks">
                <md-content class="md-padding">
                    <md-button class="md-raised md-primary" ng-click="dialog($event, 'addUserDialog')">Add</md-button>
                    <md-button class="md-raised md-primary" ng-click="dialog($event, 'deleteUserDialog')">Delete</md-button>

                </md-content>
            </md-tab>
        </md-tabs>

    </div>
</div>
