<div class="side-color">
    <ul>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ui-sref="communication.chat" ng-click="close()">
                    Communication
                </md-button>
            </md-menu-item>
        </li>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ui-sref="home" ng-click="close()">
                    Dashboard
                </md-button>
            </md-menu-item>
        </li>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ui-sref="statistic" ng-click="close()">
                    Scoreboard
                </md-button>
            </md-menu-item>
        </li>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ui-sref="conference" ng-click="close()">
                    Conference
                </md-button>
            </md-menu-item>
        </li>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ng-click="close()">
                    DMS
                </md-button>
            </md-menu-item>
        </li>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ui-sref="dss" ng-click="close()">
                    DSS
                </md-button>
            </md-menu-item>
        </li>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ng-click="close()">
                    Calendar
                </md-button>
            </md-menu-item>
        </li>
    </ul>
</div>